<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a Trip</title>
  </head>
  <body>
    <a href="/triplan/mytrips">Home</a>
    <a href="/login_regis/">Logout</a>
    {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
  </ul>
{% endif %}
    <form action='/triplan/addtrip/{{request.session.id}}' method='post'>
      {% csrf_token %}
      <p>Destination:</p>
      <input type=text name="destination">
      <p>Description:</p>
      <input type=text name="description">
      <p>Travel Date From:</p>
      <input type=date name="travel_from">
      <p>Travel Date To:</p>
      <input type=date name="travel_to">
      <br>
      <br>
      <input type="submit" value="Add">
  </form>
  </body>
</html>
